{% extends 'base.html.twig' %}
{% form_theme comment_form 'bootstrap_5_layout.html.twig' %}
{% block title %} Post {% endblock %}
{% block body %}
    <style>
        .articles{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            padding: 16px 20px;
        }
        img{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            margin: 10px;
        }
    </style>

    <div class="articles mt-5">
        <article class = "mb-5">
            <h2>{{ post.Title }}</h2>
        </article>
        <div class="meta-data">
            created at {{ post.created_at | date('d-m-y') }} at {{ post.created_at | date('H:i') }}
            <span class="badge rounded-pill bg-success">{{ post.comments | length }} comments</span>
        </div>
        <div class="content">
            <img src="{{ post.imageUrl }}" alt="">
            <p>{{ article.content }}</p>
        </div>
    </div>
    {% if app.user %}
        {% if app.user == post.user %}
            <a href="{{ path('post_edit',{'id':post.id}) }}" class="btn btn-success mt-5 mb-5">Edit</a>
        {% endif %}
    {% endif %}

    <hr>
    <div id="comments">
        {% for comment in post.comments%}
        <div class="comment mt-2">
            <div class="row">
                <div class="md-col-3" style="color:red">
                    By {{ comment.author }} at <small>({{ comment.created_at | date('d-m-Y')}}  {{ comment.created_at  | date('H:i')}} )</small>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1>Add Comment</h1>
    {% if not app.user %}
    <a class="btn btn-info" href="{{ path('app_login') }}"> You have to Sign in to add Comment</a>
    {% else %}
        {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <button class="btn btn-success mb-5 mt-2">Success</button>
        {{ form_end(comment_form) }}
    {% endif %}
{% endblock %}