{% extends 'base.html.twig' %}
{% form_theme comment_form 'bootstrap_5_layout.html.twig' %}
{% block title %} Post {% endblock %}
{% block body %}
    <style>
        .articles{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            padding: 16px 20px;
        }
        img{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            margin: 10px;
            width: 300px;
        }
        .content{
            display: flex;
            flex-direction: row;
        }
        .content p{
            width:50%;
            overflow: hidden;
            padding: 20px;
        }
    </style>

    <div class="articles mt-5">
        <article class = "mb-5">
            <h2>{{ post.Title }}</h2>
        </article>
        <div class="meta-data">
            <strong>Created at</strong> {{ post.CreatedAt | date('d-m-y') }} <strong>At</strong> {{ post.CreatedAt | date('H:i') }}
            <span class="badge rounded-pill bg-success">{{ post.Comments | length }} comments</span>
            <i><small>Authored By</small></i> <span class="badge rounded-pill bg-info"> {{ post.User.Names }}</span>
        </div>
        <div class="content">
            <img src="{{ post.ImageUrl }}" alt="">
            <p>{{ post.Content }}</p>
        </div>
    </div>
    {% if app.User %}
        {% if app.User == post.User %}
            <a href="{{ path('post_edit',{'id':post.id}) }}" class="btn btn-success mt-5 mb-5">Edit</a>
        {% endif %}
    {% endif %}

    <hr>
    <div id="comments">
        {% for comment in post.Comments%}
        <div class="comment mt-2">
            <div class="row">
                <div class="md-col-3" style="color:#47029f; font-family: Roboto,serif; font-style: italic" >
                    By {{ app.User.Names }} at <small>({{ comment.CreatedAt | date('d-m-Y')}}  {{ comment.CreatedAt  | date('H:i')}} )</small>
                </div>
                <p>{{ comment.Content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1>Add Comment</h1>
    {% if not app.User %}
    <a class="btn btn-info" href="{{ path('app_login') }}"> You have to Sign in to add Comment</a>
    {% else %}
        {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <button class="btn btn-success mb-5 mt-2">Comment</button>
        {{ form_end(comment_form) }}
    {% endif %}
{% endblock %}