{% extends 'base.html.twig' %}

{% block title %}Renga Blogs{% endblock %}

{% block body %}
    <h1 class="heading">Welcome to the Renga Blog </h1>
<style>
    .content{
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.25);
        padding: 16px 20px;
    }
    .heading{
        text-align: center;
        font-family: "Roboto Light", sans-serif;
    }
    img{
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.25);
        margin: 10px;
    }
    .content{
        margin: 0 auto;
        border: 1px solid silver;
        width: 80%;
        background: linear-gradient(45deg, silver, white);
    }
</style>
{% for post in posts %}
    <div class="content mt-5">
        <article class="mb-5">
            <h2>{{ post.Title }}</h2>
            <div class="metadata">
                created on {{ post.created_at | date('d-m-Y') }} at {{ post.created_at | date('H:i') }}
                {% if post.User %}
                By
                <span class="badge bg-success">
                    <strong>{{ post.User.Names }}</strong>
                </span>
                {% endif %}
            </div>
            <div class="posts">
                <img src = "{{ post.imageUrl}}" alt="Post Image">
                <p>{{ post.Content }}</p>
                <a class="btn btn-info" href="{{ path('post_show',{'id' : post.id }) }}"> read more</a>
            </div>
        </article>

    </div>
   {% endfor %}
    <div class="navigation mt-5">
{#        {{ knp_pagination_render(posts) }}#}
    </div>
{% endblock %}
