{% extends 'base.html.twig' %}

{% block title %}Renga Blogs{% endblock %}

{% block body %}
    <h1 class="heading">Welcome to the Renga Blog </h1>
<style>
    .content{
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.25);
        padding: 16px 20px;
    }
    .heading{
        text-align: center;
        font-family: "Roboto Light", sans-serif;
    }
    img{
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.25);
        margin-top: 10px;
    }
    .content{
        margin: 0 auto;
        border: 1px solid silver;
        width: 80%;
        background: linear-gradient(45deg, silver, white);
    }
    .posts{
        display: flex;
        align-content: flex-start;
    }
    .dm{
        overflow: hidden;
        padding:20px
    }

    .btn{
        margin-top: 10px;
    }
    .badge{
        padding:7px 13px;
    }
</style>
{% for post in posts %}
    <section class="content mt-5">
        <article class="mb-5">
            <h2>{{ post.Title }}</h2>
            <div class="metadata">
                <strong>Created on</strong> {{ post.CreatedAt | date('d-m-Y') }} <strong>At</strong> {{ post.CreatedAt | date('H:i') }}
                {% if post.User %}
                <strong>By</strong>
                <span class="badge bg-success">
                    <strong>{{ post.User.Names }}</strong>
                </span>
                {% endif %}
            </div>
            <div class="posts">
                <img src = "{{ post.ImageUrl}}" alt="Post Image">
                <p class="dm">{{ post.Content }}</p>
            </div>
            <a class="btn btn-info" href="{{ path('post_by_id',{'id' : post.id }) }}"> read more</a>
        </article>

    </section>
{% endfor %}
    <div class="navigation mt-5">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
